body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0px;
    background-color: #f4f3f3;
}

/* .container{
    width: 100%;
    margin: 100%;
    overflow: hidden;
} */

header{
    background: #03A9F4;
    border-bottom: #448AFF 3px solid;
    height: 120px;
    width: 100%;
    padding-top: 30px;
}

.main-header{
    text-align: center;
    background-color: blue;
    height: 100px;
    width: 100%;
    margin: 0px;
}

header h2{
    text-align: center;
    font-style: oblique;
    font-size: 100px;
    font-family: "sarabun", sans-serif;
    color: rgb(0, 0, 0);
}

textarea{ 
    font-size: 18px; 
}

.btn-info {
    background-color: #70b2e7;
    height: 40px;
    width: 100px;
}.btn-info:hover {
    background:#0b7dda;
}

.resultss{
    border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px;
    width: 200px;
    height: 150px;
}