<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- <link rel="stylesheet" type="text/css" href="static/styles.css" /> -->
        <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/styles.css') }}" />
    </head>
    <body>
        <header>
            <div class="container">
                <h2><a href="#" style="text-decoration: none; color: black; font-size: 35px; text-align: center;">Spam Detection for SMS Messages</a></h2>
            </div>
        </header>
        
        <div class="ml-container">
            <form action="{{ url_for('predict')}}" method="POST">
                <p style="color: black; font-size:25px;">Enter Your Message Here</p>
                <textarea style="font-size: 20px;" name="message" rows="6" cols="70"></textarea>
                <br/>
                <input style="font-size: 25px;" type="submit" class="btn-info" value="Predict">
            </form>
        </div>
    </body>
</html>